:root{
    --black: #222831;
    --gray: #31363F;
    --teal-color: #76ABAE;
    --white-color: #EEEEEE;
}

header{
    background-color: var(--black);
    color: var(--teal-color);
}

.ldg-header{
    padding: 15px;
}

body{
    background-color: var(--gray);
    color: var(--white-color);
}